

<body style="background-color:black;">
<br>
<form action="/edit2">
<h1 style="color:white;">The patient information<br></h1>
<br>

<h2 style="color:white;">Doctor name:</h2>
<input type="text" name="docname2"value="{{ record.doctor_name}}"<br>

<h2 style="color:white;">Patient name:</h2>
<input type="text" name="patname2"value="{{ record.patient_name}}"<br>

<h2 style="color:white;">ID:<br></h2>
<input type="text" name="civilname2"value="{{ record.civil_ID}}"<br>

<h2 style="color:white;">Age:<br></h2>
<input type="text" name="agename2"value="{{ record.age}}"<br>

<h2 style="color:white;">Sex:<br></h2>
<input type="text" name="Sexname2"value="{{ record.sex}}"<br>

<h2 style="color:white;">Room number:<br></h2>
<input type="text" name="roomname2"value="{{ record.room_number}}"<br>

<h2 style="color:white;">Health history:<br></h2>
<input type="text" name="Health2"value="{{ record.health_history}}"<br>

<h2 style="color:white;">Patient status:<br></h2>
<input type="text" name="status2"value="{{ record.patient_status}}"<br>

<h2 style="color:white;">Medicines:<br></h2>
<input type="text" name="Medicines2"value="{{ record.medicines}}"<br>

<h2 style="color:white;">Element diet:<br></h2>
<input type="text" name="Elementdiet2"value="{{ record.element_diet}}"<br>

<h2 style="color:white;">Doctor recommendation:<br></h2>
<input type="text" name="drecommendation2"value="{{ record.doctor_recommendation}}"<br>

<h2 style="color:white;">*Note:<br></h2>
<input type="text" name="pnote2"value="{{ record.note}}"<br>
<br><br>

<input type="submit" value="edit">





</form>
<a href="ID"><button>exit</button> <a