<!DOCTYPE html>
<html>
<head>
<h2 style="color:white;"><font size="7">Patient informations:- <strong> <br><br>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: white;

}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body style="background-color:black;">


<table style="width:80%">
  <tr>
    <th><font size="5">Doctor name:</th>
<td><font size="5">{{ record.doctor_name }}</td>
  <tr>
      <th><font size="5">Patient name:</th>
<td><font size="5">{{ record.patient_name }}</td>

  <tr>
      <th><font size="5">ID:</th>
<td><font size="5">{{ record.civil_ID}}</td>
  <tr>
      <th><font size="5">Age:</th>
<td><font size="5">{{ record.age }}</td>
    <tr>
      <th><font size="5">sex:</th>
      <td><font size="5">{{ record.sex }}</td>
    <tr>

      <th><font size="5">Room number:</th>
<td><font size="5">{{ record.room_number }}</td>

    <tr>
      <th><font size="5">Health history:</th>
<td><font size="5">{{ record.health_history }}</td>

   <tr>
      <th><font size="5">Patient status:</th>
<td><font size="5">{{ record.patient_status }}</td>

    <tr>
      <th><font size="5">Medicines:</th>
<td><font size="5">{{ record.medicines }}</td>
    <tr>

      <th><font size="5">Element diet:</th>
<td><font size="5">{{ record.element_diet }}</td>

    <tr>
      <th><font size="5">Doctor recommendations:</th>
<td><font size="5">{{ record.doctor_recommendation }}</td>
    <tr>
      <th><font size="5">*Note:</th>
<td><font size="5">{{ record.note }}</td>
    <tr>
<table>

<a href="ID"><button>exit</button> <a


</body>
</html>
</html>