<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>

<h2>Cell that spans two rows</h2>
<p>To make a cell span more than one row, use the rowspan attribute.</p>

<table style="width:100%">
  <tr>
    <th>Doctor name:</th>
<td>{{ record.doctor_name}}</td>
  <tr>
  <tr>
      <th>Patient name:</th>
<td>{{ record.patient_name }}</td>
  <tr>
  <tr>
      <th>ID:</th>
<td>{{ record.doctor_name}}</td>
  <tr>
  <tr>
      <th>Age:</th>
<td>{{ record.doctor_name}}</td>
  <tr>
    <tr>
      <th>sex:</th>
  <td>{{ record.doctor_name}}</td>
    <tr>
    <tr>

      <th>Room number:</th>
<td>{{ record.doctor_name}}</td>
    <tr>
    <tr>
      <th>Health history:</th>
<td>{{ record.doctor_name}}</td>
    <tr>
    <tr>
      <th>Patient status:</th>
<td>{{ record.doctor_name}}</td>
    <tr>
    <tr>
      <th>Medicines:</th>
<td>{{ record.doctor_name}}</td>
    <tr>
    <tr>

      <th>Element diet:</th>
<td>{{ record.doctor_name}}</td>
    <tr>
    <tr>
      <th>Doctor recommendation::<th>

    <tr>
    <tr>
      <th>*Note:<th>

    <tr>
    <tr>
<table>

  <tr>


</body>
</html>
</html>